<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654754394275-dgdi8eago9nh4tggrmf6s5djfhsna9sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654754394275-dgdi8eago9nh4tggrmf6s5djfhsna9sl</string>
	<key>API_KEY</key>
	<string>AIzaSyDhpIBJMTOFLtIIEsp_7yobKjB3406qj0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>654754394275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyAppleApp</string>
	<key>PROJECT_ID</key>
	<string>hitchhiker-26dc6</string>
	<key>STORAGE_BUCKET</key>
	<string>hitchhiker-26dc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654754394275:ios:4b3b57f8c04d3a9fd3cf16</string>
</dict>
</plist>