<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059604790273-i24nq3uhvbstj623oin13mhkjamk8n8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059604790273-i24nq3uhvbstj623oin13mhkjamk8n8o</string>
	<key>API_KEY</key>
	<string>AIzaSyBWtTW4UpI0Lij6SCk_JrHTKjCN8u7qVVM</string>
	<key>GCM_SENDER_ID</key>
	<string>1059604790273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Hit-Chhiker</string>
	<key>PROJECT_ID</key>
	<string>hitchikker-7c2bc</string>
	<key>STORAGE_BUCKET</key>
	<string>hitchikker-7c2bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059604790273:ios:1a3d0b31620faf264d9400</string>
</dict>
</plist>
